* {
    margin: 0;
    padding: 0;
   font-family: Arial, Helvetica, sans-serif;
   overflow: auto;

}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
    flex-direction: column;
    background-color: #4635B1;
    h1 {
        color: #AEEA94;
        font-weight: bold;
        margin-bottom: 2vh;
    }

    button {
        border: none;
        background-color: #B771E5;
        color: white;
        font-weight: bolder;
        border-radius: 10px;
        padding: 10px;
        margin-top: 2vh
    }
    input {
        width: 25vh;
        font-size: 1.5em;
        height: 4vh;
        border: none;
        border-radius: 10px;
    }
}
.listabox {
   
}